<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="warning" class="model.Warning">
        <property name="colour" value="RED" />
    </bean>

    <bean id="playerRepository" class="repository.implementation.PlayerRepositoryImpl" />
    <bean id="gameRepository" class="repository.implementation.GameRepositoryImpl" />
    <bean id="teamRepository" class="repository.implementation.TeamRepositoryImpl" />

    <bean id="tournamentRepository" class="repository.implementation.TournamentRepositoryImpl" />
    <bean id="tournamentRepositoryExtension"
        class="repository.implementation.TournamentRepositoryImplExtension" />

    <bean id="bracketRepository" class="repository.implementation.BracketRepositoryImpl" />
    <bean id="warningRepository" class="repository.implementation.WarningRepositoryImpl" />

    <bean id="playerService" class="service.PlayerService">
        <constructor-arg ref="playerRepository" />
    </bean>

    <bean id="gameService" class="service.GameService">
        <constructor-arg ref="gameRepository" />
    </bean>

    <bean id="teamService" class="service.TeamService">
        <constructor-arg ref="teamRepository" />
    </bean>

    <bean id="tournamentService" class="service.TournamentService">
        <constructor-arg ref="tournamentRepository" />
    </bean>

    <bean id="bracketService" class="service.BracketService">
        <constructor-arg ref="bracketRepository" />
    </bean>

    <bean id="warningService" class="service.WarningService">
        <constructor-arg ref="warningRepository" />
    </bean>


</beans>