<nav class="flex items-center justify-between p-2 shadow-lg h-[vh]">
    <a class="flex items-center gap-2" href="/">
        <img src="/favicon/android-chrome-192x192.png" alt=""
            style="width: 35px; height: 35px;">
        <p class="font-medium" style="margin-bottom: 0px;">WolfEsports</p>
    </a>
    <ul class="flex items-center gap-4">
        <li>
            <a class="text-gray-800 hover:text-gray-500" aria-current="page" href="/">Home</a>
        </li>
        <li>
            <a class="text-gray-800 hover:text-gray-500" href="#">Tournaments</a>
        </li>
        <li>
            <a class="text-gray-800 hover:text-gray-500" href="#">Teams</a>
        </li>
    </ul>
    <div></div>
</nav>
