<footer class="flex flex-col h-full min-h-[30vh] justify-between py-3 bg-black text-gray-100">
    <div></div>
    <ul class="flex items-center gap-5 justify-center flex-wrap">
        <li class="nav-item"><a href="#" class="hover:underline hover:text-gray-300">Home</a></li>
        <li class="nav-item"><a href="#" class="hover:underline hover:text-gray-300">Tournaments</a></li>
        <li class="nav-item"><a href="#" class="hover:underline hover:text-gray-300">Teams</a></li>
    </ul>
    <p class="text-center">© 2024 Company, Inc</p>
</footer>
