<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WolfEsports</display-name>

  <listener>
    <listener-class>listener.JpaInitializer</listener-class>
  </listener>

  <servlet>
    <servlet-name>PlayerApiServlet</servlet-name>
    <servlet-class>controller.PlayerApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerApiServlet</servlet-name>
    <url-pattern>/api/players/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TournamentApiServlet</servlet-name>
    <servlet-class>controller.TournamentApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournamentApiServlet</servlet-name>
    <url-pattern>/api/tournaments/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BracketApiServlet</servlet-name>
    <servlet-class>controller.BracketApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BracketApiServlet</servlet-name>
    <url-pattern>/api/brackets/*</url-pattern>
  </servlet-mapping>

</web-app>